.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-width: 0;
    min-height: 0;

    .board-upbar {
        background: rgba(rgb(214, 213, 213), 0.6);
        padding: 8px 13px 0px;
    
        .board-name {
            font-size: 18px;
            font-weight: bold;
            color: whitesmoke;
        }
    }

    .board-container {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .board-columns {
            display: flex;
            flex-grow: 1;

            .board-column {
                display: flex;
                flex-basis: 0;
                flex-grow: 1;
                flex-direction: column;                
            }
        }

        .column-title {
            color:  #1A535C;
            //text-shadow: 1px 2px 2px #F7FFF7;
            font-size: 20px;
            font-weight: 800;
            font-family: 'Catamaran', sans-serif;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
}