.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    min-width: 0;
    min-height: 0;

    .board-upbar {
        background: rgba(rgb(214, 213, 213), 0.6);
        padding: 8px 13px 0px;
    
        .board-name {
            font-size: 18px;
            font-weight: bold;
            color: whitesmoke;
        }
    }

    .board-container {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .board-columns {
            display: flex;
            flex-grow: 1;

            .board-column {
                display: flex;
                flex-basis: 0;
                flex-grow: 1;
                flex-direction: column;

                min-width: 300px;
                margin: 50px;
                padding: 25px;

                border-radius: 4px;
                background: rgba(white, 0.5);
            }
        }

        .column-title {
            color:  #1A535C;
            //text-shadow: 1px 2px 2px #F7FFF7;
            font-size: 20px;
            font-weight: 800;
            font-family: 'Catamaran', sans-serif;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
}

.tasks-container {
    flex-grow: 1;
    overflow-y: auto; 
}

.task {
    display: flex;
    padding: 15px 12px;
    background: white;
    border-bottom: solid 1px #ddd;
    border-radius: 20px;

    margin-bottom: 15px;

    box-shadow: 0 8px 6px -6px black;
}